[Desktop Entry]
Type=Application
Name=QLogo
GenericName=UCBLogo Programming Environment
Exec=QLogo
Icon=QLogo
Comment=A UCBLogo-compatible interpreter using Qt and OpenGL
Categories=Development;IDE;
Keywords=logo;qlogo;turtle;ucblogo;
